<div class="container">
  <h2><%= @restaurant.name %></h2>
  <p class="description">Adress: <%= @restaurant.address %></p>
  <p class="description">Phone: <%= @restaurant.phone_number %></p>
  <p class="description">Cuisine: <%= @restaurant.category %></p>
  <ul class="list-group"> Reviews:
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.rating %> -- <%= review.content %></li>
    <% end %>
  </ul>


  <p><%= link_to 'back to results', restaurants_path %></p>
  <p><%= link_to 'add new review', new_restaurant_review_path(@restaurant) %></p>
</div>
